body{
    background: linear-gradient(360deg, green,lime,yellow);
}


#trees{
    color: rgb(70, 90, 70);
    background:rgb(153, 226, 7);
}
#imp{
    color: cornsilk;
    background:rgb(163, 163, 94);
}
#ever{
    color:black ;
    background: rgb(68, 204, 68);
}
#save{
    color:navy;
    background:rgb(192, 149, 42);
}
table {
    width: 100%;
    margin: 30px 0px;
}

img {
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
#tab{
    text-align: center;
    background-color: greenyellow;
}